/amstrongseries.py
/Basic_API.py
/binary_file.bin
/breakcontinuepass.py
/checkamstrong.py
/checkpalindrom.py
/checkprime.py
/compositionno.py
/countchar.py
/countletters.py
/data.json
/decorater.py
/digitsumpro.py
/dupilicates.py
/eachnumsq.py
/encryption.py
/fact.py
/fib.py
/File.text
/file.txt
/GCD.py
/hcf.py
/lcm.py
/leapyear.py
/matrix.py
/matrixadd.py
/multitable.py
/myenv
/noofdigits.py
/palindrome.py
/password.py
/patterns.py
/perfectno.py
/prime.py
/PROJECT2.py
/PROJECT3.py
/python.py
/reversenum.py
/reversestr.py
/specialnum.py
/sumpro.py
/tasks.txt
/temperature.py
/To-Do.py
/transposematrix.py
/__pycache__